.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  height: 50px;
  font-size: 2em;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.video-detail .title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}






